#notebook {
	background-color: aliceblue;
	background-image: url(TUBS_Logo.svg);
	background-repeat: no-repeat;
	background-attachment: fixed; /*scroll*/
	background-position: right center;
	background-size: 390px;
}
