{% extends "page.html" %}
{% if announcement_login %}
  {% set announcement = announcement_login %}
{% endif %}

{% block login_widget %}
{% endblock %}

{% block main %}

{% block login %}
<head>
<style>
body {
	background-color: aliceblue;
}

.tubslogo {
	width: 50%; /*300px;*/
	grid-area: tubs;
	justify-self: start;
}

.ifnlogo {
	width: 50%;
	grid-area: ifn;
	justify-self: end;
}

.main {
	grid-area: main;
	justify-self: center;
}

#login-main {
	display: grid;
	grid-template-areas:
		"tubs ifn"
		"main main";
}

#login-main .auth-form-header {
	background: rgb(190,30,60);
}

#login-main .btn-jupyter {
	background: rgb(190,30,60);
}

#login-main .form-control:focus, #login-main input[type="submit"]:focus{
	outline-color: rgb(190,30,60);
	border-color: rgb(190,30,60);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(190,30,60);
}

</style>
</head>
<div id="login-main" class="container">
	<img class="tubslogo" src="https://www.tu-braunschweig.de/typo3conf/ext/tu_braunschweig/Resources/Public/Images/Logos/tu_braunschweig_logo.svg" alt="TUBS Logo"></img>
	<img class="ifnlogo" src="https://www.tu-braunschweig.de/fileadmin/Logos_Einrichtungen/Institute_FK5/logo_IFN.svg" alt="IfN Logo"></img>
{% if custom_html %}
{{ custom_html | safe }}
{% elif login_service %}
<div class="service-login">
  <a role="button" class='btn btn-jupyter btn-lg' href='{{authenticator_login_url}}'>
    Sign in with {{login_service}}
  </a>
</div>
{% else %}
<div class="main">
<form action="{{login_url}}?next={{next}}" method="post" role="form">
  <div class="auth-form-header">
    Sign in
  </div>
  <div class='auth-form-body'>

    <p id='insecure-login-warning' class='hidden'>
    Warning: JupyterHub seems to be served over an unsecured HTTP connection.
    We strongly recommend enabling HTTPS for JupyterHub.
    </p>

    {% if login_error %}
    <p class="login_error">
      {{login_error}}
    </p>
    {% endif %}
    <label for="username_input">Username:</label>
    <input
      id="username_input"
      type="text"
      autocapitalize="off"
      autocorrect="off"
      class="form-control"
      name="username"
      val="{{username}}"
      tabindex="1"
      autofocus="autofocus"
    />
    <label for='password_input'>Password:</label>
    <input
      type="password"
      class="form-control"
      name="password"
      id="password_input"
      tabindex="2"
    />

    <input
      type="submit"
      id="login_submit"
      class='btn btn-jupyter'
      value='Sign In'
      tabindex="3"
    />
  </div>
</form>
</div>
{% endif %}
</div>
{% endblock login %}

{% endblock %}

{% block script %}
{{ super() }}
<script>
if (window.location.protocol === "http:") {
  // unhide http warning
  var warning = document.getElementById('insecure-login-warning');
  warning.className = warning.className.replace(/\bhidden\b/, '');
}
</script>

{% endblock %}
